PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_DATABASE=sqms

JWT_ACCESS_SECRET=some_long_random_string_for_access
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=a_different_long_random_string_for_refresh
JWT_REFRESH_EXPIRES_IN=7d

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_FROM="SQMS <no-reply@sqms.local>"